<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RedisSnmp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Runtime</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="status">Status</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agent-link">AgentLink</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="redis-mapping">RedisMapping</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="browser">Browser</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mib">MIB</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trap">Trap</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="log">Log</NavLink>
        </div>
    </nav>
</div>
